/* start booking */
.booking{
  height: 580px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.booking h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%)  rotate(90deg);
}

.booking-picture {
  background-image: url(../public/Booking.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 20px 20px 0;
}
.parent-content-booking{
  z-index: 2;
}
.booking-picture h3{
  max-width: 306px;
}
.booking-picture form{
  background-color: #FFFFFF29;
  backdrop-filter: blur(10px);
  padding: 15px;
  border-radius: 12px;
  overflow: hidden;
  min-width: 297px
}
input , select{
  background-color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 12px;
  outline: none;
  border: none;
  color: #858585;
  width: 100%;
}
input[type="number"]{
  border-radius: 12px 0 0 12px !important;
}
input[type="text"]{
  flex: 0;
}

form button{
  color: #231F20;
  cursor: pointer;
  font-weight: 600;
  padding: 14px 10px;
  border-radius: 0 12px 12px 0;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  min-width: fit-content;
}

form button:hover{
  background-color: transparent;
  color: var(--secondryColor);
  border: 1px solid var(--secondryColor);
}

::-webkit-calendar-picker-indicator{
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
}

@media (max-width:660px) {
  .booking-picture{
    border-radius: 0;
  }
  .booking-picture > div{
    background: linear-gradient(#231F20, #231F2000);
  }
  .parnet-phone-submit{
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
  }
  input[type="number"]{
    border-radius: 12px !important;
  }
  form button{
    width: 100%;
    border-radius: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .parent-content-booking{
    flex-direction: column;
  }
  .booking-right-text{
    display: none;
  }
}


@media (max-width:380px) {
  form {
    width: 90% !important;
    min-width: 90% !important;
  }
}