.carousel{
  margin-top: 20px;
  width: 90%;
}
.carousel-inner{
  height: 500px;
  min-width: 100%
}

.carousel-control-prev-icon , .carousel-control-next-icon{
  background-color: #231f2083;
  border-radius: 50%;
}