.hero{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.hero1{
  background-image: url(../public/heroSecthion1.png);
  animation: fadeIn 1s ease-in-out;
}
.hero2{
  background-image: url(../public/heroSecthion2.png);
  animation: fadeIn 1s ease-in-out;
}
.hero3{
  background-image: url(../public/heroSecthion3.png);
  animation: fadeIn 1s ease-in-out;
}

.hero > div{
  background: linear-gradient(90deg ,#231F20 , #231F2000);
}
.text_stroke{
  color: transparent;
  font-size: 3rem;
  font-weight: 600;
  -webkit-text-stroke: 0.5px #FFF;
}

.rotate-text{
  font-size: 25px;
  letter-spacing: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  text-transform: uppercase;
}

.button-hero{
  border-radius: 20px;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.5px;
  border: 1px solid var(--secondryColor);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #000;
}
.button-hero:hover{
  background-color: transparent;
  color: inherit;
  border: 1px solid inherit;
}

.button-location{
  background-color: #FFFFFF26;
  color: #FFF;
  border: 1px solid transparent;
}
.button-location:hover{
  border-color: #fff;
}
.button-location i {
  color: transparent;
  -webkit-text-stroke: 0.5px #FFF;
}

.hero-images{
  background-color: #FFF;
  width: 120px;
  height: 88px;
  border-radius: 10px;
  padding: 2px;
  overflow: hidden;
  cursor: pointer;
}
.hero-images img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
}

.arrow-animate{
  margin-bottom: 10px;
  animation: upDown 1.5s linear infinite;
}
.arrow-animate :first-child {
  margin-bottom: -10px;
  color: #ffffff78;
}

/* start about us */
.about{
  margin-top: 100px;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* media query */
@media (max-width:1025px) {
  .hero-content{
    justify-content: center;
    margin-bottom: 20px;
    height: 50%;
  }
}

@media (max-width:800px) {
  .about{
    flex-direction: column;
  }
  .about :first-child{
    width: 100%;
  }
  .about :last-child{
    width: 90%;
  }
}

@media (max-width:650px) {
  .hero-left-content{
    display: none;
  }
  .hero-images{
    width: calc(100% / 3);
    height: 65px;
  }
}