body{
  color: #FFF;
}
header{
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0.5s ease-in-out ;
}
.position-sticky{
  position: sticky;
}
li{
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
}

.container{
  max-width: 1224px !important;
  width: 92% !important;
  margin: 0 auto;
}
.navbar{
  min-height: 70px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 50px;
}

.nav-branding{
  font-size: 2rem;
  padding: 10px 0;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.nav-header{
  display: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: large;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.nav-link{
  transition: 0.3s ease-out;
  letter-spacing: 1.5px;
  font-family: ui-monospace;
}

.nav-link:hover{
  color: var(--secondryColor);
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

@media(max-width:1024px){
  .nav-header{
    display: block;
  }
  .hamburger{
    display: block;
    order: 1;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-branding{
    order: 2;
  }
  .nav-menu{
    position: absolute;
    left: -150%;
    top: 100%;
    gap: 0;
    height: fit-content;
    flex-direction: column;
    background-color: var(--mainColor);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    margin: 0;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }
}