.header {
  color: var(--secondryColor);
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}
.about-pictures > div {
  margin-top: 20px;
  width: 90%;
}

/* start special offers */
.special-offers > div {
  margin-bottom: 30px;
}
.special-offers > div span {
  width: 50px;
  height: 1px;
  background-color: #ffffff;
}
.special-offers :last-child::-webkit-scrollbar {
  display: none;
}
/* end special offers */

/* start delivery & social */
.parent-social {
  margin-top: 50px;
}
.parent-deliveryimages > img,
.parent-socialimages > img {
  width: calc(100% / 4.5);
}

/* start branches */
.parent-branch {
  background-image: url(../photos/branches.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  height: 600px;
  margin-bottom: 80px;
}
.parent-branch > div {
  width: 100%;
  height: 100%;
  background: linear-gradient(#231f20, #231f2000);
}
.parent-branch > div > div > span {
  background-color: var(--mainColor);
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 12px;
}
.parent-branch div div span i {
  color: transparent;
  -webkit-text-stroke: 0.5px #ffffff;
}
.branch-header {
  font-size: 57px;
  font-weight: 600;
  color: transparent;
  letter-spacing: 8px;
  -webkit-text-stroke: 0.2px #ffffff;
  font-family: fantasy;
}

.branch-card {
  width: 49%;
  padding: 30px 20px;
  backdrop-filter: blur(10px);
  border-radius: 12px;
  overflow: hidden;
  font-weight: 600;
}
.branch-card a {
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 5px 0;
  width: 30%;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.branch-card a:hover {
  background-color: #fff;
  color: #000;
}

/* end branch */

/* start footer */
footer{
  background-color: var(--mainColor);
  filter: drop-shadow(0 9px 38px #D5BAAD1A);
  padding: 20px 0;
  margin-top: 50px;
  color: var(--secondryColor);
  position: relative;
}
footer > div {
  border-bottom: 1px solid #737373;
  padding-bottom: 20px;
}
footer > div > span{
  flex-direction: row-reverse;
  column-gap: 5px;
  position: absolute;
  top: calc(50% - 10px);
  left: 50%;
  transform: translate(-50% , -50%);
}
footer > div > span a{
  color: var(--secondryColor);
  text-decoration: underline;
}


@media (max-width: 1100px) {
  footer > div > span{
    left: 45%;
  }
}
@media (max-width: 900px) {
  .parent-social > div {
    width: 50%;
  }
  .parent-deliveryimages > img,
  .parent-socialimages > img {
    width: calc(100% / 4.6);
  }

  .parent-branch-cards{
    width: 100%;
  }
  
  footer > div > span{
    display: none !important;
  }
}

@media (max-width: 550px) {
  .about-pictures {
    height: 400px;
  }
  .special-offers :last-child {
    overflow-x: auto;
  }
  .special-offers div {
    min-width: 200px;
  }
  .parent-social {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .parent-social > div {
    width: 100%;
  }
  .parent-deliveryimages > img,
  .parent-socialimages > img {
    width: calc(100% / 4.5);
  }

  .branch-header{
    font-size: 30px;
  }
  .branch-card{
    padding: 30px 10px;
  }
  .branch-card > span{
    justify-content: center;
  }
  .branch-card > span a {
    display: none;
  }
}
